<html>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="600" class="m_8441555878400961021container" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>

<!--                                    <img src="https://ak1.picdn.net/shutterstock/videos/22768111/thumb/1.jpg" height="150" width="500" alt="Dhanjal Corporations" class="CToWUd">-->

                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#888888;font-size:16px;line-height:1.5;font-family:Roboto,Arial">
                        <tr>
                            <td colspan="3">
                                <h2><span style="color: #444444">Welcome to The Price Check Report, {{first_name}}.</span></h2>
                                <hr style="background:transparent;border-top:2px dashed #888888;margin-bottom:20px">
                                <p style="margin-top: 10px;margin-bottom: 10px;">

                                </p>

                                <b>The Price Is Now {{count}} </b><br/>
<!--                                <b>The Running Page is {{page}}</b><br/>-->
<!--                                <b>The Total Records Done Till Now Are {{Records}}  WIth No Errors</b>-->

                                <br />
                                <br />
                            </td>
                        </tr>
</table>
    </table>
      </body>
        </html>